<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Tic Tac Toe API</title>
    <style>
      * {
        font-family: sans;
      }

      body {
        max-width: 640px;
        margin: auto;
      }

      body textarea {
        max-width: 640px;
      }

      body img {
        max-width: 640px;
      }
    </style>
  </head>
  <script>
    {{ json_schema }}
  </script>
  <body>
    
    <h1>Tic Tac Toe API</h1>
    <p>
        Some info as a starting point
    </p>
  
    <h2>Getting started</h2>

    <p>
        To start, register an agent at the <a href="register">register</a> endpoint
    </p>
  
    <p>
      See the <a href="tic-tac-toe"">ontology</a>
    </p>
  </body>
